/* control-panel */
#control_panel {
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  font-family: arial;
}
#control_panel .subcontrols {
  border: 1px dotted #ccc;
  display: inline-block;
  padding: 3px 5px;
  vertical-align: top;
  box-shadow: #ccc 1px 1px 1px 1px;
}

#float_panel {
  border: 2px solid #ccc;
  box-shadow: #ccc 1px 2px 3px 4px;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 100px;
  left: 40px;
}
#float_panel .subcontrols label{
  vertical-align: top;
}

#events_control {
  overflow: hidden;
}
button {
  padding: 5px;
  font-size: 16px;
}
input {
  font-size: 20px;
  vertical-align: top;
  padding: 3px;
}
